In [9]:
import pandas as pd
import os 

project_root = os.path.abspath(
    os.path.join(os.getcwd(), ".."))
file_path = os.path.join(project_root, "data", "us_renewable_energy_consumption.csv")

df = pd.read_csv(file_path)

In [12]:
df.head(10)

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.000,0.000,0.0,0.0,0.570,0.000,0.0,0.0,0.570,0.570,0.0,0.0,0.000,0.0
1,1973,1,Electric Power,0.000,0.490,0.0,0.0,0.054,0.157,0.0,0.0,0.211,89.223,0.0,0.0,88.522,0.0
2,1973,1,Industrial,1.040,0.000,0.0,0.0,98.933,0.000,0.0,0.0,98.933,99.973,0.0,0.0,0.000,0.0
3,1973,1,Residential,0.000,0.000,0.0,0.0,30.074,0.000,0.0,0.0,0.000,30.074,0.0,0.0,0.000,0.0
4,1973,1,Transportation,0.000,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.0
5,1973,2,Commerical,0.000,0.000,0.0,0.0,0.515,0.000,0.0,0.0,0.515,0.515,0.0,0.0,0.000,0.0
6,1973,2,Electric Power,0.000,0.448,0.0,0.0,0.157,0.144,0.0,0.0,0.301,79.331,0.0,0.0,78.582,0.0
7,1973,2,Industrial,0.962,0.000,0.0,0.0,89.359,0.000,0.0,0.0,89.359,90.320,0.0,0.0,0.000,0.0
8,1973,2,Residential,0.000,0.000,0.0,0.0,27.164,0.000,0.0,0.0,0.000,27.164,0.0,0.0,0.000,0.0
9,1973,2,Transportation,0.000,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.000,0.0,0.0,0.000,0.0

In [13]:
df.tail(10)

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
3055,2023,12,Commerical,0.000,1.673,3.913,0.037,7.003,6.396,2.653,0.000,16.051,21.739,0.000,0.000,0.000,0.000
3056,2023,12,Electric Power,0.000,4.821,31.162,130.846,11.910,15.135,0.000,0.000,27.044,259.513,0.000,0.000,65.640,0.000
3057,2023,12,Industrial,0.269,0.357,0.942,0.037,104.598,14.357,1.666,74.073,194.694,196.299,0.000,0.000,0.000,0.000
3058,2023,12,Residential,0.000,3.363,14.658,0.000,38.247,0.000,0.000,0.000,0.000,56.268,0.000,0.000,0.000,0.000
3059,2023,12,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,93.570,0.000,156.234,0.000,38.344,4.101,0.000,20.219
3060,2024,1,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,15.728,21.773,0.000,0.000,0.000,0.000
3061,2024,1,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,28.944,257.661,0.000,0.000,72.078,0.000
3062,2024,1,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,188.325,190.011,0.000,0.000,0.000,0.000
3063,2024,1,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,0.000,52.316,0.000,0.000,0.000,0.000
3064,2024,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,140.188,0.000,30.780,3.442,0.000,19.867

In [14]:
df.shape

(3065, 17)

In [26]:
df.info

<bound method DataFrame.info of       Year  Month          Sector  Hydroelectric Power  Geothermal Energy  \
0     1973      1      Commerical                0.000              0.000
1     1973      1  Electric Power                0.000              0.490
2     1973      1      Industrial                1.040              0.000
3     1973      1     Residential                0.000              0.000
4     1973      1  Transportation                0.000              0.000
...    ...    ...             ...                  ...                ...
3060  2024      1      Commerical                0.073              1.669
3061  2024      1  Electric Power                0.000              4.667
3062  2024      1      Industrial                0.308              0.356
3063  2024      1     Residential                0.000              3.354
3064  2024      1  Transportation                0.000              0.000

      Solar Energy  Wind Energy  Wood Energy  Waste Energy  \
0            0.000        0.000        0.570         0.000
1            0.000        0.000        0.054         0.157
2            0.000        0.000       98.933         0.000
3            0.000        0.000       30.074         0.000
4            0.000        0.000        0.000         0.000
...            ...          ...          ...           ...
3060         4.267        0.036        7.053         6.233
3061        32.707      119.265       15.071        13.873
3062         0.987        0.035      104.878        14.171
3063        14.897        0.000       34.065         0.000
3064         0.000        0.000        0.000         0.000

      Fuel Ethanol, Excluding Denaturant  Biomass Losses and Co-products  \
0                                  0.000                           0.000
1                                  0.000                           0.000
2                                  0.000                           0.000
3                                  0.000                           0.000
4                                  0.000                           0.000
...                                  ...                             ...
3060                               2.441                           0.000
3061                               0.000                           0.000
3062                               1.533                          67.742
3063                               0.000                           0.000
3064                              86.098                           0.000

      Biomass Energy  Total Renewable Energy  Renewable Diesel Fuel  \
0              0.570                   0.570                   0.00
1              0.211                  89.223                   0.00
2             98.933                  99.973                   0.00
3              0.000                  30.074                   0.00
4              0.000                   0.000                   0.00
...              ...                     ...                    ...
3060          15.728                  21.773                   0.00
3061          28.944                 257.661                   0.00
3062         188.325                 190.011                   0.00
3063           0.000                  52.316                   0.00
3064         140.188                   0.000                  30.78

      Other Biofuels  Conventional Hydroelectric Power  Biodiesel
0              0.000                             0.000      0.000
1              0.000                            88.522      0.000
2              0.000                             0.000      0.000
3              0.000                             0.000      0.000
4              0.000                             0.000      0.000
...              ...                               ...        ...
3060           0.000                             0.000      0.000
3061           0.000                            72.078      0.000
3062           0.000                             0.000      0.000
3063           0.000                             0.000      0.000
3064           3.442                             0.000     19.867

[3065 rows x 17 columns]>

In [16]:
df.iloc[0]

Year                                        1973
Month                                          1
Sector                                Commerical
Hydroelectric Power                          0.0
Geothermal Energy                            0.0
Solar Energy                                 0.0
Wind Energy                                  0.0
Wood Energy                                 0.57
Waste Energy                                 0.0
Fuel Ethanol, Excluding Denaturant           0.0
Biomass Losses and Co-products               0.0
Biomass Energy                              0.57
Total Renewable Energy                      0.57
Renewable Diesel Fuel                        0.0
Other Biofuels                               0.0
Conventional Hydroelectric Power             0.0
Biodiesel                                    0.0
Name: 0, dtype: object

In [18]:
df.iloc[3064]

Year                                            2024
Month                                              1
Sector                                Transportation
Hydroelectric Power                              0.0
Geothermal Energy                                0.0
Solar Energy                                     0.0
Wind Energy                                      0.0
Wood Energy                                      0.0
Waste Energy                                     0.0
Fuel Ethanol, Excluding Denaturant            86.098
Biomass Losses and Co-products                   0.0
Biomass Energy                               140.188
Total Renewable Energy                           0.0
Renewable Diesel Fuel                          30.78
Other Biofuels                                 3.442
Conventional Hydroelectric Power                 0.0
Biodiesel                                     19.867
Name: 3064, dtype: object

In [21]:
df.isnull().sum()

Year                                  0
Month                                 0
Sector                                0
Hydroelectric Power                   0
Geothermal Energy                     0
Solar Energy                          0
Wind Energy                           0
Wood Energy                           0
Waste Energy                          0
Fuel Ethanol, Excluding Denaturant    0
Biomass Losses and Co-products        0
Biomass Energy                        0
Total Renewable Energy                0
Renewable Diesel Fuel                 0
Other Biofuels                        0
Conventional Hydroelectric Power      0
Biodiesel                             0
dtype: int64

In [24]:
df.drop_duplicates()

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel
0,1973,1,Commerical,0.000,0.000,0.000,0.000,0.570,0.000,0.000,0.000,0.570,0.570,0.00,0.000,0.000,0.000
1,1973,1,Electric Power,0.000,0.490,0.000,0.000,0.054,0.157,0.000,0.000,0.211,89.223,0.00,0.000,88.522,0.000
2,1973,1,Industrial,1.040,0.000,0.000,0.000,98.933,0.000,0.000,0.000,98.933,99.973,0.00,0.000,0.000,0.000
3,1973,1,Residential,0.000,0.000,0.000,0.000,30.074,0.000,0.000,0.000,0.000,30.074,0.00,0.000,0.000,0.000
4,1973,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060,2024,1,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,15.728,21.773,0.00,0.000,0.000,0.000
3061,2024,1,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,28.944,257.661,0.00,0.000,72.078,0.000
3062,2024,1,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,188.325,190.011,0.00,0.000,0.000,0.000
3063,2024,1,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,0.000,52.316,0.00,0.000,0.000,0.000
3064,2024,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,140.188,0.000,30.78,3.442,0.000,19.867

In [27]:
df['Date'] = pd.to_datetime(df['Year'].astype(str) + '-' + df['Month'].astype(str), format='%Y-%m')

In [28]:
renewable_cols = ['Hydroelectric Power', 'Geothermal Energy', 'Solar Energy',
                  'Wind Energy', 'Wood Energy', 'Waste Energy', 'Fuel Ethanol, Excluding Denaturant']

In [29]:
df['Total_Renewable'] = df[renewable_cols].sum(axis=1)

In [30]:
sector_group = df.groupby(['Year', 'Sector'])[renewable_cols + ['Total_Renewable']].sum().reset_index()

In [1]:
import os
import pandas as pd

project_root = os.path.join(os.getcwd(), "..")
data_dir = os.path.join(project_root, "data")

file_path = os.path.join(data_dir, "cleaned_us_renewable_energy.csv")
df_clean = pd.read_csv(file_path)

In [3]:
df_clean.tail(10)

,Year,Month,Sector,Hydroelectric Power,Geothermal Energy,Solar Energy,Wind Energy,Wood Energy,Waste Energy,"Fuel Ethanol, Excluding Denaturant",Biomass Losses and Co-products,Biomass Energy,Total Renewable Energy,Renewable Diesel Fuel,Other Biofuels,Conventional Hydroelectric Power,Biodiesel,Date,Total_Renewable
3055,2023,12,Commerical,0.000,1.673,3.913,0.037,7.003,6.396,2.653,0.000,16.051,21.739,0.000,0.000,0.000,0.000,2023-12-01,21.675
3056,2023,12,Electric Power,0.000,4.821,31.162,130.846,11.910,15.135,0.000,0.000,27.044,259.513,0.000,0.000,65.640,0.000,2023-12-01,193.874
3057,2023,12,Industrial,0.269,0.357,0.942,0.037,104.598,14.357,1.666,74.073,194.694,196.299,0.000,0.000,0.000,0.000,2023-12-01,122.226
3058,2023,12,Residential,0.000,3.363,14.658,0.000,38.247,0.000,0.000,0.000,0.000,56.268,0.000,0.000,0.000,0.000,2023-12-01,56.268
3059,2023,12,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,93.570,0.000,156.234,0.000,38.344,4.101,0.000,20.219,2023-12-01,93.570
3060,2024,1,Commerical,0.073,1.669,4.267,0.036,7.053,6.233,2.441,0.000,15.728,21.773,0.000,0.000,0.000,0.000,2024-01-01,21.772
3061,2024,1,Electric Power,0.000,4.667,32.707,119.265,15.071,13.873,0.000,0.000,28.944,257.661,0.000,0.000,72.078,0.000,2024-01-01,185.583
3062,2024,1,Industrial,0.308,0.356,0.987,0.035,104.878,14.171,1.533,67.742,188.325,190.011,0.000,0.000,0.000,0.000,2024-01-01,122.268
3063,2024,1,Residential,0.000,3.354,14.897,0.000,34.065,0.000,0.000,0.000,0.000,52.316,0.000,0.000,0.000,0.000,2024-01-01,52.316
3064,2024,1,Transportation,0.000,0.000,0.000,0.000,0.000,0.000,86.098,0.000,140.188,0.000,30.780,3.442,0.000,19.867,2024-01-01,86.098

In [4]:
df_clean.columns = df_clean.columns.str.strip()

df_clean_no_2024 = df_clean[df_clean['Year'] != 2024]

new_file_path = os.path.join(data_dir, "cleaned_us_renewable_energy_no_2024.csv")

df_clean_no_2024.to_csv(new_file_path, index=False)